<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<h1>
			create a new campground
		</h1>
	</div>
	<form action= "/campground" method="POST">
			<input class="form-control" type ="text" name = "name" placeholder="name">
			<input class="form-control" type ="text" name= "image" placeholder="image-url">
			<input class="form-control" type ="text" name= "description" placeholder="description">
			<button>
				Submit!
			</button>
	</form>
	<a href="/campground">Go back</a>
</div>

<%- include("../partials/footer") %>


